*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff91;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-famyly: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-famyly);
  --text-md: 14px/175% var(--font-famyly);
  --text-sm: 12px/175% var(--font-famyly);
  --text: 16px/1.5 var(--font-famyly);

}

body{
  color: var(--text-color-secondary);
  background-color: var(--background-color);  
}